{% if value == 0.1 %}
    {{ 'Very low'|trans }}
{% elseif value == 0.3 %}
    {{ 'Low'|trans }}
{% elseif value == 0.5 %}
    {{ 'Normal'|trans }}
{% elseif value == 0.6 %}
    {{ 'High'|trans }}
{% elseif value == 1 %}
    {{ 'Very high'|trans }}
{% endif %}
