{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    {{ 'Dashboard'|trans }}
{% endblock %}

{% block body_class %}dashboard{% endblock %}

{% block main %}

    <div class="row row-flexed">
        <div class="col-sm-6 col-flexed">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Latest Events'|trans }}</h3>
                </div>
                {#<div class="panel-body"></div>#}
                <table class="table">
                    {% for event in eventStreamObjects %}
                        <tr>
                            <td>{% set value = event.user %}{% include '@cms/Admin/user_column.html.twig' %}</td>
                            <td>
                                {{ event.message|trans }}<br/>
                                <span class="text-muted">
                                    {% set value = event.uuid %}{% include '@cms/Admin/uuid_column.html.twig' %}
                                </span>
                            </td>
                            <td class="text-right">
                                {% set value = event.created %}{% include '@cms/Admin/datetime_ago_column.html.twig' %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-sm-6 col-flexed">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'System Information'|trans }}</h3>
                </div>
                <table class="table">
                    <tr>
                        <td><img class="svg-inline--fa" src="{{ asset('bundles/cms/icons/symfony.svg') }}"> Symfony Version: </td>
                        <td>{{ symfony_version }}</td>
                    </tr>
                    <tr>
                        <td><span class="fab fa-php"></span> PHP Version: </td>
                        <td>{{ php_version }}</td>
                    </tr>
                    <tr>
                        <td><span class="fas fa-rocket"></span> PHP Acceleration: </td>
                        <td>{{ apc_enabled }}</td>
                    </tr>
                    <tr>
                        <td><span class="fas fa-microchip"></span> PHP Memory Limit: </td>
                        <td>{{ memory_limit }}</td>
                    </tr>
                    <tr>
                        <td><span class="fas fa-upload"></span> PHP Upload Max File Size: </td>
                        <td>{{ upload_limit }}</td>
                    </tr>
                    <tr>
                        <td><span class="fas fa-upload"></span> PHP Post Max Size: </td>
                        <td>{{ post_limit }}</td>
                    </tr>
                    <tr>
                        <td><span class="fas fa-hourglass-half"></span> PHP Max Execution Time: </td>
                        <td>{{ execution_limit }} sec</td>
                    </tr>
                    <tr>
                        <td><span class="fas fa-info-circle"></span> Server IP: </td>
                        <td>{{ server_ip }}</td>
                    </tr>
                    <tr>
                        <td><span class="fas fa-database"></span> Database: </td>
                        <td>{{ database_name }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
