{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block page_title %}{{ 'Edit Page %title%'|trans({'%title%': pageStreamRead.title}) }}{% endblock %}

{% block content_header %}
    <div id="admin-bar"></div>
{% endblock %}

{% block body_class %}edit-page{% endblock %}

{% block main %}

    <input type="hidden" id="pageUuid" value="{{ pageStreamRead.uuid }}">

    {% set size = previewSize %}

    {% if size == 'xs' %}
        {% set width = '320px' %}
    {% elseif size == 'sm' %}
        {% set width = '576px' %}
    {% elseif size == 'md' %}
        {% set width = '768px' %}
    {% elseif size == 'lg' %}
        {% set width = '992px' %}
    {% elseif size == 'xl' %}
        {% set width = '1200px' %}
    {% else %}
        {% set width = '100%' %}
    {% endif %}

    <iframe
            id="page-frame"
            style="width: {{ width }};"
            src="{{ path('cms_page_edit', {pageUuid: pageStreamRead.uuid, user: user.id}) }}"
    ></iframe>

    <!-- Editor Modal -->
    <div class="modal fade" id="editor-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="fa fa-times"></span>
                    </button>
                    <h4 class="modal-title" id="editor-modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
