{% extends '@EasyAdminBase/default/list.html.twig' %}

{% block global_actions %}
    {{- parent() -}}

    <div class="button-action">
        <a class="btn btn-success" href="{{ path('cms_create_page') }}">
            <span class="fa fa-plus"></span> {{ 'Add page'|trans }}
        </a>
    </div>
{% endblock global_actions %}
