<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    {% for alias in aliases %}
        {% if alias.pageStreamRead %}
            <url>
                <loc>{{ alias.path }}</loc>
                {#<lastmod>2005-01-01</lastmod>
                <changefreq>monthly</changefreq>#}
                <priority>{{ alias.priority }}</priority>
            </url>
        {% endif %}
    {% endfor %}

</urlset>

