.editor {
  font-size: 10px;
  line-height: 10px;
  z-index: 3;
  position: relative;
}
.editor .btn-sm {
  font-size: 10px;
  line-height: 10px;
  padding: 4px;
  cursor: pointer;
}
[data-uuid]:hover {
  background: rgba(255, 0, 255, 0.05);
  outline: 1px dashed rgba(255, 0, 255, 1);
}
[data-uuid] {
  outline: 1px dashed rgba(255, 0, 255, 1);
}
.no-outline[data-uuid] {
  outline: none;
}
.no-outline[data-uuid]:hover {
  background: none;
}
[data-visible="0"],
[data-enabled="0"] {
  position: relative;
}
[data-visible="0"]::after,
[data-enabled="0"]::after {
  z-index: 1;
  pointer-events: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, rgba(255, 0, 0, .5) 25%, transparent 25%, transparent 50%, rgba(255, 0, 0, .5) 50%, rgba(255, 0, 0, .5) 75%, transparent 75%, transparent 100%);
  background-size: 40.00px 40.00px;
}
[data-visible="0"]::after {
  background-image: linear-gradient(45deg, rgba(255, 255, 0, .5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 0, .5) 50%, rgba(255, 255, 0, .5) 75%, transparent 75%, transparent 100%);
}
