{% if edit %}<div
    data-uuid="{{ element.uuid }}"
    data-enabled="{{ (element.enabled ?? true) ? '1' : '0' }}"
    data-label="{{ element.elementName|trans }}"
    data-bg="bg-info"
    class="text-center"
>{% endif %}
    <span class="anchor" id="{{ element.data.anchor }}">{% if edit %}<span class="fas fa-anchor"></span> #{{ element.data.anchor }}{% endif %}</span>
{% if edit %}</div>{% endif %}
