<div {% if edit %}data-uuid="{{ element.uuid }}" data-enabled="{{ (element.enabled ?? true) ? '1' : '0' }}" data-label="{{ element.elementName|trans }}"{% endif %}>
    {% if element.data.formUuid is defined and element.data.formUuid %}
        {{ render(controller('FormsBundle:Form:renderForm', {formUuid: element.data.formUuid, defaultData: []})) }}
    {% endif %}
</div>
