{% if edit %}
    <div class="editor button-group p-1 border border-secondary">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a data-target="parent" class="btn btn-sm text-secondary" target="_top" href="{{ path('cms_create_element', {elementName: 'Column', pageUuid: page.uuid, onVersion: page.version, parent: element.uuid}) }}"><span class="fa fa-columns"></span> {{ 'Add Column'|trans }}</a>
            </div>
        </div>
    </div>
{% endif %}
